---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-no-recursion,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -misc-include-cleaner,
        -bugprone-exception-escape,
        -portability-template-virtual-member-function,
        -readability-identifier-length
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z|i|j|k'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z|i|j|k'
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
  - key: modernize-loop-convert.MaxCopySize
    value: 16
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false